.action-map {
	position:relative;
	z-index:2;
	}

.action-map__image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	}

.action-map__layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	}
